.movie-item:hover {
  -webkit-transform: scale(1.35);
  transform: scale(1.35);
  opacity: .9;
}
  
.movie-item {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 15px;
  margin: auto;
}